<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KU-POLLS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <style>
        footer {
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px;
            background-color: #007bff; /* Blue background */
        }

        /* Style the Logout button */
        #logout-button form {
            display: inline;
        }
    </style>
</head>
<body>
    <header>
        <!-- Make the title clickable -->
        <a href="{% url 'index' %}" class="title">KU-POLLS</a>

        {% if user.is_authenticated %}
            <div class="welcome-message">
                Welcome back, {{ user.username.title }}
            </div>
            <div id="logout-button">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Logout" class="logout-button">
                </form>
            </div>
        {% else %}
            <div id="login-button">
                <a href="{% url 'login' %}" class="login-button">Login</a>
            </div>
        {% endif %}
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
