{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'polls/question.css' %}">
<div class="poll">
    <a href="{% url 'index' %}" class="title">KU-POLLS</a>

    <h1 class="question-text {% if question.end_date and question.end_date < timezone.now %}closed-question{% endif %}">
        {{ question.question_text }}
        {% if question.end_date and question.end_date < timezone.now %}
            (Closed)
        {% endif %}
    </h1>


    {% if messages %}
        <!-- Display messages if there are any -->
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if user_has_voted %}
    <p class="vote-message">You have voted for "{{ selected_choice.choice_text }}"</p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post" id="vote-form">
        {% csrf_token %}
        <fieldset>
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}" class="choice-label">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote" class="vote-button">
    </form>

    <!-- Add a "Results" button to view results without voting -->
    <a href="{% url 'polls:results' question.id %}" class="results-button">Results</a>
</div>

{% if user.is_authenticated %}
<div id="logout-button" class="bottom-right">
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout" class="logout-button">
    </form>
</div>
{% else %}
<a href="{% url 'login' %}" class="login-button">Login</a>
{% endif %}

<a href="{% url 'polls:index' %}" class="back-button">Back</a>

<script>
    document.getElementById("vote-form").addEventListener("submit", function(event) {
        const selectedChoice = document.querySelector('input[name="choice"]:checked');
        if (!selectedChoice) {
            alert("Please select a choice before voting.");
            event.preventDefault();
        }
    });

    // Add an event listener for the popstate event (triggered when the back button is clicked)
    window.addEventListener('popstate', function(event) {
        location.reload();
    });
</script>
{% endblock %}
