{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<div class="page-header">
    <h1 class="title">KU-POLLS</h1>
</div>
{% if latest_question_list %}
    <ul class="poll-list">
    {% for question in latest_question_list %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            <p>{{ question.pub_date|date:"F d, Y" }}</p>
            <a href="{% url 'polls:results' question.id %}" class="results-button">Results</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
