/* Style the title */
.title {
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: -100px;
    text-decoration: none;
}

/* Style the question text */
.question-text {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #6f664b;
}

/* Style the form and input elements */
form {
    margin-top: 30px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.choice-label {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

/* Style the "Vote" and "Results" buttons */
.vote-button, .results-button {
    background-color: #d1c49a; /* Updated color */
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ccc19f; /* Updated border color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

.vote-button:hover, .results-button:hover {
    background-color: #c2beb1;
}

/* Style the "Logout" button */
#logout-button form {
    display: inline-block;
    position: absolute;
    bottom: -7px;
    right: 10px;
}

#logout-button form input[type="submit"] {
    padding: 8px 16px;
    background-color: #d1c49a; /* Updated color */
    color: #fff;
    border: 1px solid #ccc19f; /* Updated border color */
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

#logout-button form input[type="submit"]:hover {
    background-color: #c2beb1;
}

/* Style the "Back" button */
.back-button {
    background-color: #d1c49a; /* Updated color */
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ccc19f; /* Updated border color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
}

.back-button:hover {
    background-color: #c2beb1;
}

/* Style the poll background */
.poll {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative;
    top: 100px;
}

body {
    background-image: url('https://i.pinimg.com/originals/7b/23/95/7b239546b69a9ff73611806dcdbe80f7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.vote-message {
    font-size: 18px;
    color: #6f664b;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.poll-question {
    /* Styles for your poll question */
    margin: 20px; /* Add some margin to separate it from the button */
}

.login-button {
    background-color: #d1c49a;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ccc19f;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 7px;
    right: 10px;
    font-size: 16px;
}

.login-button:hover {
    background-color: #c2beb1;
}



